services:
  app:
    build: .
    ports:
      - "5005:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=src/app.py
      - FLASK_ENV=production
      - GME_USERNAME=${GME_USERNAME}
      - GME_PASSWORD=${GME_PASSWORD}
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
